.loader__data {
  width: 15%;
  height: 0.8rem;
  background-color: var(--color-gray);
  margin-bottom: 0.5rem;
}

.loader__content {
  display: flex;
}

.loader__img {
  width: 120px;
  height: 120px;
  background-color: var(--color-gray);
}

.loader__body {
  width: 83%;
  margin-left: 0.8rem;
}

.loader__title {
  height: 1.2rem;
  background-color: var(--color-gray);
  margin-bottom: 1.2rem;
}

.loader__title:last-child {
  margin-bottom: 0;
}
